body {
    background-color: aqua;
}

.container {
    width: 50%;
    margin: 0 25%;
}

form {
    padding-top: 20px;
}

fieldset {
    border: 3px solid blue;
    background-color: white;
    border-radius: 3px;
}

label {
    font-family: 'Fredoka One', cursive;
    font-size: 1.5em;
}

input,
textarea {
    margin-bottom: 2%;
    border: 2px solid blue;
    border-radius: 3px;
    width: 100%;
    padding: 5px 0;
}

.button {
    margin-top: 2%;
    padding: 5px;
    background-color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 1.5em;
    width: 100px;
}

.button:hover {
    background-color: blue;
    color: white;
}
