.container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.container::after {
    content: "";
    clear: both;
    display: block;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lobster Two', cursive;
}

h1 {
    text-align: center;
    background-color: #b3d9ff;
    padding: 10px 0;
    margin: 0;
}

@media all and (min-width: 600px) {
    h1 {
        margin: 10px 0;
    }
}


section {
    background-color: #ccffcc;
    padding: 10px 0;
}

@media all and (min-width: 600px) {
    section {
        width: 68%;
        float: left;
        padding: 0;
        padding-left: 10px;
        height: auto;
    }
}

aside {
    text-align: center;
    padding: 10px;
    background-color: #ffccff;
}

@media all and (min-width: 600px) {
    aside {
        width: 30%;
        float: right;
        padding: 10px 0;
    }
}

img {
    width: 100%;
}

@media all and (min-width: 600px) {
    img {
        max-width: 200px;
        height: auto;
        padding-bottom: 35px;
    }
}
